[urls]
url1 = https://www.usitc.gov/sites/default/files/tata/hts/hts_2024_revision_9_csv.csv
url2 = https://www.usitc.gov/sites/default/files/tata/hts/hts_2023_revision_11_csv.csv
url3 = https://www.usitc.gov/sites/default/files/tata/hts/hts_2019_rev_20_data_csv.csv
url4 = https://www.usitc.gov/sites/default/files/tata/hts/hts_2020_revision_18_csv.csv
url5 = https://www.usitc.gov/sites/default/files/tata/hts/hts_2021_revision_basic_12_csv.csv
url6 = https://www.usitc.gov/sites/default/files/tata/hts/hts_2022_revision_12_csv.csv
url7 = https://www.usitc.gov/sites/default/files/tata/hts/hts_2016_basic_delimited.csv
url8 = https://www.usitc.gov/sites/default/files/tata/hts/hts_2018_revision_14_data.csv